<div class="container" [ngClass]="{'hasFooter': windowItem.hasFooter}">
  Status: {{ test }}
  <h4>API Error Handling</h4>
  500 errors are managed by the api service, other errors are transported to the callee<br>
  <button (click)="apiError('example/success')" class="success">Api 200 Error Test</button>
  <button (click)="apiError('example/badRequestError')" class="danger">Api 400 Error Test</button>
  <button (click)="apiError('example/abcdef')" class="advice">Api 405 Error Test</button>
  <button (click)="apiError('example/notFoundError')">Api 404 Error Test</button>
  <button (click)="apiError('example/serverError')" class="danger">Api 500 Error Test</button>
  <h1>Demo <button (click)="about()">About Tailwind</button></h1>
    <p><b>Written in Native Angular 10-13/Vanilla JavaScript, with minimal libraries</b></p>
  <p>
    You can use the contacts ribbon button to open the demo contact manager, this is just a work in progress demo which has some functions that work, test at own peril. The contact manager utilises my own PHP API which is also used for login/session control, and authentication token issue.
  </p>
  <p>
    The frame work uses full lazy loading of components so please be sure to watch the Network Activity monitor in the console as you navigate some of the demo items. All icons an assets are created by me, except for the demo video which is courtesy of Mesh <a href="http://www.mesh.co.uk" target="_new">More Info</a>
  </p>
  <p>
    The back end API is written in PHP and utilises JWT's
  </p>
  <p>
    This also has real time deployment to the api and app server, with build version increment on each build.
  </p>
  <p>
    Please scroll down this window to see the demo window and panel options/controls/methods.
  </p>
  <p><b>Dependency List</b></p>
  <pre>
    "@angular/animations": "~13.0.3",
    "@angular/cdk": "^13.0.3",
    "@angular/common": "~13.0.3",
    "@angular/compiler": "~13.0.3",
    "@angular/core": "~13.0.3",
    "@angular/forms": "~13.0.3",
    "@angular/platform-browser": "~13.0.3",
    "@angular/platform-browser-dynamic": "~13.0.3",
    "@angular/router": "~13.0.3",
    "@auth0/angular-jwt": "^5.0.1",
    "@nicky-lenaers/ngx-scroll-to": "^9.0.0",
    "ng2-tooltip-directive": "^2.10.3",
    "rxjs": "~6.5.5",
    "ts-md5": "^1.2.7",
    "tslib": "^2.0.0",
    "zone.js": "~0.11.4"
  </pre>
  <button (click)="addStatusBar()">Add Status Bar</button>
  <input type="text" [(ngModel)]="statusBarText">
  <button (click)="removeStatusBar()">Remove Status Bar</button>
  <hr>
  <button (click)="addFooter()">Add Footer</button>
  <button (click)="removeFooter()">Remove Footer</button>
  <hr>
  <button (click)="plannerWindow()">Responsive Component Window</button>
  <button (click)="stressTest()">Stress Test</button>
  <hr>
  <button (click)="demo1()">Demo One</button>
  <button (click)="demo2()">Demo Two</button>
  <button (click)="demo3()">Demo Three</button>
  <button (click)="demo4()">Demo Four</button>
  <h1>Menu Locked</h1>
  <button (click)="demo1Hide()">Demo One (hide on menu change)</button>
  <button (click)="demo1Delete()">Demo One (delete on menu change)</button>

  <h1>Ribbons</h1>
  <button (click)="newWindow(false, false)">New Window + Ribbon (biggest space priority)</button>
  <button (click)="newWindowDoubleRibbon(false, false)">New Window Double Ribbon</button>
  <button (click)="newWindowRibbonTop(false, false)">New Window - Ribbon Fixed Top</button>
  <button (click)="newWindowRibbonLeft(false, false)">New Window - Ribbon Fixed Left</button>
  <h1>Window Customisations</h1>
  <button (click)="newWindowNoControls(false, false)">New Window - No Controls</button>
  <button (click)="newWindowNoBar(false, false)">New Window - No Title Bar + No Panel</button>
  <button (click)="newWindowNoBarRibbon()">New Window - No Title Bar + ribbon + content priority</button>
  <button (click)="newWindow3d()">New Window - Different Component</button>
  <button (click)="noTab()">New Window - No Tab</button>
  <button (click)="noFeatures()">New Window - No Features</button>
  <h1>Auto Close</h1>
  <button (click)="autoClose(9000)">New Window - Auto Close</button>
  <h1>Docking</h1>
  <button (click)="newWindowDockLeft()">New Window - Dock Left (40%, 100%)</button>

  <h1>On top/bottom</h1>
  <button (click)="newWindow(true, false)">New Window - Always on top</button>
  <button (click)="newWindow(false, true)">New Window - Always on bottom</button>

  <h1>Toast Notification</h1>
  <button (click)="newToast('success')">New Toast Success</button>
  <button (click)="newToast('info')">New Toast Info</button>
  <button (click)="newToast('warn')">New Toast Warn</button>
  <button (click)="newToast('error')">New Toast Error</button>
  <hr>
  <button (click)="newToastSticky('success')">New Toast Success Sticky</button>
  <button (click)="newToastSticky('info')">New Toast Info Sticky</button>
  <button (click)="newToastSticky('warn')">New Toast Warn Sticky</button>
  <button (click)="newToastSticky('error')">New Toast Error Sticky</button>

  <h1>Dialogs</h1>
  <button (click)="newDialog()">New Dialog</button>
  <button (click)="newDialogForm()">New Dialog (Form)</button>

  <h1>Custom Windows</h1>
  <button (click)="splash()">New Splash</button>
  <button (click)="about()">About</button>

  <h1>Panels</h1>
  <button (click)="newPanelLeft()">New Panel Left</button>
  <button (click)="newPanelRight()">New Panel (right dock 75%, 100%)</button>

  <button (click)="newPanel()">New Panel (with ribbon)</button>
  <button (click)="newPanelUuid()">New Panel (with ribbon) + uuid 10acbeb6-0bff-41bd-8b49-57e4718c0f95</button>
  <button (click)="newPanelNoClose()">New Panel (with ribbon - No Close)</button>
  <hr>
  <button (click)="demo1InPanel()">Demo One in Panel</button>
  <button (click)="demo2InPanel()">Demo Two in Panel</button>
  <button (click)="demo3InPanel()">Demo Three in panel</button>
  <button (click)="demo4InPanel()">Demo Four in Panel</button>

  <h1>Run State</h1>
  <button (click)="setItem({thing: {demo: 'demo', test: 'testing'}})">Set Item</button>
  <button (click)="setItem({thing: {sortBy: 4,thingy: 'item 4', ddd: {sortBy: 3,thingy: 'item 3'}}})">Set Item (different)</button>
  <button (click)="setItem({thing2: {demo: 'demo', test: 'testing'}})">Set second Item</button>
  <button (click)="deleteItem('thing')">Delete Item</button>
  <button (click)="deleteItem('thing2')">Delete Second Item</button>
  <pre>{{ runState | json}}</pre>

  <h1>App State</h1>
  <button (click)="setItemApp({thing: {demo: 'demo', test: 'testing'}})">Set Item</button>
  <button (click)="setItemApp({thing: {sortBy: 4,thingy: 'item 4', ddd: {sortBy: 3,thingy: 'item 3'}}})">Set Item (different)</button>
  <button (click)="setItemApp({thing2: {demo: 'demo', test: 'testing'}})">Set second Item</button>
  <button (click)="deleteItemApp('thing')">Delete Item</button>
  <button (click)="deleteItemApp('thing2')">Delete Second Item</button>
  <pre>{{ appState | json}}</pre>
</div>
<div class="footer" *ngIf="windowItem.hasFooter">
  <button class="p-button-secondary p-button-sm" [innerHTML]="'Click'"></button>
  <button class="p-button-success p-button-sm" (click)="closeWindow()" [innerHTML]="'Close'"></button>
</div>
